<%= form_with model: article do |form| %>
  <div class="container-form" >
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="error_form"><%= message %></div>
    <% end %>
  </div>

  <div class="container-form">
      <%= form.label :url %><br>
      <%= form.text_field :url %>
      <% article.errors.full_messages_for(:url).each do |message| %>
        <div class="error_form"><%= message %></div>
      <% end %>
    </div>
     <div class="container-form">
      <%= form.label :image %><br>
      <%= form.text_field :image %>
      <% article.errors.full_messages_for(:image).each do |message| %>
        <div class="error_form"><%= message %></div>
      <% end %>
    </div>
  <div class="container-form">
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="error_form"><%= message %></div>
    <% end %>
  </div>
  <div class="container-button">
  <%= form.submit class: 'button_form'  %>
  </div>
<% end %>
