<header class="header">
  <a class="links" href="/articles">Articles</a>
  <a class="links" href="/home">Home</a>
</header>
<main class="main">
  <h2><%= @article.title %></h2>
  <p><%= @article.body %></p>
  <a href="<%= @article.url %>">
  <img src="<%= @article.image %>" alt="<%= @article.title %>">
  <ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete } %></li>
  </ul>
</main>
